<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<p>Collaborate is a platform for students to socialise with others at their university or other universities in general. Our goals are to:</p>
	<ul>
		<li>Provide students with a space to discuss aspects of university life and to connect with one another allowing them to enhance both their academic and social life.</li>
		<li>Enable students with similar interests to congregate in the different categories and find like-minded individuals.</li>
		<li>Aid students wishing to find answers to their questions.</li>
	</ul>
	<p>We set out to achieve these goals by providing various functionalities, such as allowing users to create specific categories for separate topics, hopefully resulting in users finding/
	creating an appropriate, available space for them to post and interact with their peers.</p>


{% include 'collab_app/link_box.html' %}
{% endblock %}
