<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Add Category
{% endblock %}

{% block body_block %}
	<h1>Add a Category</h1>
	{% if university %}
	<div>
		<form id="category_form" method="post" action="{% url 'collab_app:add_university_category' unicersity.slug %}">
			{% csrf_token %}
			{% for field in form.visible_fields %}
				{{ field.erros }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Create Category" />
		</form>
	</div>
	{% else %}
	<div>
		<form id="category_form" method="post" action="{% url 'collab_app:add_general_category' %}">
			{% csrf_token %}
			{% for field in form.visible_fields %}
				{{ field.erros }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Create Category" />
		</form>
	</div>
	{% endif %}
{% endblock %}