<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Add Post
{% endblock %}

{% block body_block %}
	<h1>Add a Comment</h1>
	<div>
		<form id="add_comment_form" method="post" action="{% url 'collab_app:add_comment' page.slug %}">
			{% csrf_token %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Post" />
		</form>
	</div>
{% endblock %}
