<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
	<div>
		<li><a href="{% url 'collab_app:sign_up' %}">Sign-up</a></li>
		<li><a href="{% url 'collab_app:login' %}">Login</a></li>
		<li><a href="{% url 'collab_app:about' %}">About</a></li>
		<li><a href="{% url 'collab_app:contact_us' %}">Contact us</a></li>
		<li><a href="{% url 'collab_app:general' %}">General</a></li>
		<li><a href="{% url 'collab_app:universities' %}">Unis</a></li>
		<li><a href="{% url 'collab_app:add_university' %}">Add University</a></li>
	</div>

	<div>
		<h1>Collaborate</h1>
	</div>

	<div>
		<form action="{% url 'collab_app:login' %}">
			<input type="submit" value="Log in">
		</form>
	</div>
	
	<div>
		<form action="{% url 'collab_app:sign_up' %}">
			<input type="submit" value="Sign-up">
		</form>
	</div>

	<div>
		<form action="{% url 'collab_app:general' %}">
			<input type="submit" value="Continue to main site">
		</form>
	</div>

	<div>
		{% include 'collab_app/link_box.html' %}
	</div>
	
{% endblock %}