<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
	<div>
		<h1 class="centerText">Collaborate</h1>
	</div>

	<div>
		<img id="center" src="{% static 'images/logo.png' %}" alt = "Collaborate">
	</div>
	{% if not user.is_authenticated %}
	<div>
		<form class="inlineElements" action="{% url 'collab_app:login' %}">
			<input type="submit" value="Log in">
		</form>
	
		<form class="inlineElements" action="{% url 'collab_app:sign_up' %}">
			<input type="submit" value="Sign-up">
		</form>
	</div>
	{% endif %}

	<div>
		<form class="inlineElements" action="{% url 'collab_app:general' %}">
			<input type="submit" value="Continue to main site">
		</form>
	</div>

	<div>
		{% if user.is_authenticated %}
		<li><a href="{% url 'collab_app:universities' %}">Unis</a></li>
		<li><a href="{% url 'collab_app:add_university' %}">Add University</a></li>
		{% else %}
		<li><a href="{% url 'collab_app:sign_up' %}">Sign-up</a></li>
		<li><a href="{% url 'collab_app:login' %}">Login</a></li>
		
		{% endif %}
		<li><a href="{% url 'collab_app:general' %}">General</a></li>
		<li><a href="{% url 'collab_app:about' %}">About</a></li>
		<li><a href="{% url 'collab_app:contact_us' %}">Contact us</a></li>
	</div>
	
{% include 'collab_app/link_box.html' %}
{% endblock %}
