<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
	<div>
		<li><a href="{% url 'collab_app:sign_up' %}">Sign-up</a></li>
		<li><a href="{% url 'collab_app:login' %}">Login</a></li>
		<li><a href="{% url 'collab_app:about' %}">About</a></li>
		<li><a href="{% url 'collab_app:contact_us' %}">Contact us</a></li>
		<li><a href="{% url 'collab_app:general' %}">General</a></li>
		<li><a href="{% url 'collab_app:universities' %}">Unis</a></li>
		<li><a href="{% url 'collab_app:add_university' %}">Add University</li>
	</div>
{% endblock %}