<!DOCTYPE html>

{% load staticfiles %}

<div id="link-box">
    {% if recent %}                                                                      
        <ul>                                                                               
        {% for element in recent %} 
            <li><a href="{% url element %}">{{ element }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'collab_app:index' %}">Home page</a>
            <li><a href="{% url 'collab_app:sign_up' %}">Sign-up</a></li>
		    <li><a href="{% url 'collab_app:login' %}">Login</a></li>
		    <li><a href="{% url 'collab_app:about' %}">About</a></li>
		    <li><a href="{% url 'collab_app:contact_us' %}">Contact us</a></li>
		    <li><a href="{% url 'collab_app:general' %}">General</a></li>
        </ul>
    {% endif %}
</div>
