<!DOCTYPE html>

{% load staticfiles %}

<div id="link-box">
    {% if recent %}                                                         
    {% for page in recent %}
        <a href="{% url page %}">{{ page }}<a>
    {% endfor %}
    {% else %}
        <a href="{% url 'collab_app:index' %}">Home page</a>
        <br>
        <a href="{% url 'collab_app:sign_up' %}">Sign-up</a>
        <br>
		    <a href="{% url 'collab_app:login' %}">Login</a>
        <br>
		    <a href="{% url 'collab_app:about' %}">About</a>
        <br>
		    <a href="{% url 'collab_app:contact_us' %}">Contact us</a>
        <br>
		    <a href="{% url 'collab_app:general' %}">General</a>
    {% endif %}
</div>
