<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Show Page
{% endblock %}

{% block body_block %}
<div>
</div>
{% if comments %}
	{% for comment in comments %}
		{{ comment }}
	{% endfor %}
{% endif %}
	<strong id="like_count">{{ page.likes }}</strong>Likes
	{% if user.is_authenticated %}
		<button id="like_btn"
					 data-pageid="{{ page.id }}"
			 		 class="btn btn-primary btn-sm"
		 			 type="button">
			<span data-feather="thumbs-up"></span>
			Like Page
		</button>
	{% endif %}
{% endblock %}
