<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	{% if category %}
		{{ category.name }}
	{% else %}
		Unknown Category
	{% endif %}
{% endblock %}

{% block body_block %}
{% if category %}
	<h1>{{ category.name }}</h1>
	<div>
	{% if pages %}
	<ul>
		{% for page in pages %}
		<li><a href="{{ page.url }}">{{ page.title }}</a>
		{% if page.image == None %}
			{{ page.text|truncatewords:50 }}
		{% else %}
			<img src="{{ page.image.url }}" alt="image" />
		{% endif %}
		</li>
		{% endfor %}
	</ul>	
	{% else %}
		There are currently no posts.
	{% endif %}
	</div>
	{% endif %}
{% endblock %}
