<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	{% if category %}
		{{ category.name }}
	{% else %}
		Unknown Category
	{% endif %}
{% endblock %}

{% block body_block %}
{% if university %}
	{% if user.is_authenticated %}
		<h1>{{ category.name }}</h1>
		<h2>Add a page</h2>
	<div>
		<form id="add_page_form" method="post" action="{% url 'collab_app:add_university_page' university.slug category.slug %}">
			{% csrf_token %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Post"/>
		</form>
	</div>
	</div>
		<div>
		{% if pages %}
		<ul>
			{% for page in pages %}
				<a href="{% url 'collab_app:show_university_page' university.slug page.category.slug page.slug%}">{{ page.title }}</a>
				{% if page.image %}
					<img src="{{ page.image.url }}" alt="image" />
				{% else %}
					{{ page.text|truncatewords:50 }}
				{% endif %}
				</li>
			{% endfor %}
		</ul>	
		{% else %}
			There are currently no posts.
		{% endif %}
	{% else %}
		<h1>Not logged in!</h1>
	{% endif %}

{% elif category %}
	<h1>{{ category.name }}</h1>
	<div>
	{% if pages %}
	<ul>
		{% for page in pages %}
			<a href="{% url 'collab_app:show_general_page' page.category.slug page.slug%}">{{ page.title }}</a>
			{% if page.image %}
				<img src="{{ page.image.url }}" alt="image" />
			{% else %}
				{{ page.text|truncatewords:50 }}
			{% endif %}
		{% endfor %}
	</ul>	
	{% else %}
		There are currently no posts.
	{% endif %}
	<!-- Allow user to create page -->
	<h2>Add a page</h2>
	<div>
		<form id="add_page_form" method="post" action="{% url 'collab_app:add_general_page' category.slug %}">
			{% csrf_token %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Post"/>
		</form>
	</div>
	</div>
{% endif %}

{% endblock %}
