<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Show Page
{% endblock %}

{% block body_block %}
<h1>{{ page.title }}</h1>
<body>
	{{ page.text }}
</body>

<div>
	<form id="add_comment" method="post">
		{% csrf_token %}
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
		{% endfor %}
		<input type="submit" name="submit" value="Post"/>
</div>
<strong id="like_count">{{ page.likes }}</strong>Likes
{% if user.is_authenticated %}
	<button id="like_btn"
				 data-pageid="{{ page.id }}"
				  class="btn btn-primary btn-sm"
				  type="button">
		<span data-feather="thumbs-up"></span>
		Like Page
	</button>
	
{% endif %}
{% if comments %}
	{% for comment in comments %}
	<ul>
		{{ comment }}
	</ul>
	{% endfor %}
{% endif %}
{% endblock %}
