<!DOCTYPE html>
{% extends 'collab_app/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Universities
{% endblock %}

{% block body_block %}
<h1>Fuck you</h1>
<form id="join_uni_form" method="POST" >
	{% csrf_token %}
	{{ form.as_p}}
</form>
{% if universities %}
	<ul>
	{% for university in universities %}
	<li>
		<a href="{% url 'collab_app:show_university' university.slug%}">{{ university.name }}</a>
		</li>
	{% endfor %}
{% else %}
<strong>You are not part of a university</strong>
{% endif %}


{% include 'collab_app/link_box.html' %}
{% endblock %}
